.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-primary);
  border-radius: var(--br-sm);
  background-color: var(--color-primary);
  box-shadow: var(--shadow-sm);
  cursor: pointer;
  transition:
    opacity 0.2s,
    transform 0.1s;
}

.button svg {
  display: block;
  flex-shrink: 0;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.loading {
  animation: spin 1s linear infinite;
}

.button svg[class*='loading'] {
  animation: spin 1s linear infinite;
}

.button > span {
  display: inline-flex;
  align-items: center;
  transform: translateY(1.5px);
}

.button:hover {
  opacity: 0.8;
}

.button:active {
  opacity: 0.6;
  transform: scale(0.98);
}

.button:disabled {
  border-color: var(--color-border-input);
  background: var(--color-border-input);
  cursor: not-allowed;
  opacity: 0.6;
}

.button:disabled:hover {
  opacity: 0.6;
}

.buttonSize_sm {
  padding: 10px 18px;
  gap: 8px;
}

.buttonSize_md {
  padding: 16px 24px;
  gap: 10px;
}

.buttonSize_lg {
  padding: 16px 28px;
  gap: 12px;
}

.buttonVariant_secondary {
  border-color: var(--color-border-input);
  background-color: #fff;
}

.buttonVariant_ghost {
  padding: 0;
  border: none;
  background-color: transparent;
  box-shadow: none;
  gap: 8px;
}

.buttonVariant_ghost:hover {
  opacity: 0.7;
}

.buttonVariant_ghost:active {
  opacity: 0.5;
  transform: none;
}

.buttonVariant_ghost:disabled {
  border: none;
  background: transparent;
}
