.iconButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 1px solid var(--color-border-secondary);
  border-radius: var(--br-sm);
  background-color: transparent;
  box-shadow: var(--shadow-md);
  cursor: pointer;
}

.iconButton svg {
  display: block;
  flex-shrink: 0;
}

.iconButton:hover {
  opacity: 0.8;
}

.iconButton:active {
  opacity: 0.6;
}
