.appLayout {
  display: grid;
  width: 100%;
  max-width: var(--container-max-width);
  padding: var(--spacing-lg);
  margin: 0 auto;
  gap: var(--spacing-lg);
  grid-template-rows: auto 1fr;
}

@media (width <= 1023px) {
  .appLayout {
    padding: var(--spacing-md);
    gap: var(--spacing-md);
  }
}

@media (width <= 639px) {
  .appLayout {
    padding: var(--spacing-sm);
    gap: var(--spacing-sm);
  }
}
