.layout {
  display: grid;
  width: 100%;
  align-items: start;
  gap: var(--spacing-lg);
  grid-template-columns: 1fr 1fr;
}

@media (width <= 1023px) {
  .layout {
    gap: var(--spacing-md);
  }
}

@media (width <= 639px) {
  .layout {
    gap: var(--spacing-sm);
    grid-template-columns: 1fr;
  }
}
