.field {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.label {
  color: var(--color-text-label);
  font-family: var(--font-family-text);
  font-size: var(--fs-label-sm);
  font-weight: var(--fw-medium);
  letter-spacing: var(--ls-label);
  line-height: var(--lh-label-sm);
}

.textarea {
  min-height: 236px;
  padding: 12px 14px;
  border: 1px solid var(--color-border-input);
  border-radius: var(--br-sm);
  box-shadow: var(--shadow-md);
  color: var(--color-text-primary);
  font-family: var(--font-family-text);
  font-size: var(--fs-label-md);
  font-weight: var(--fw-regular);
  letter-spacing: var(--ls-label);
  line-height: var(--lh-label-md);
  outline: none;
  resize: none;
  transition: all 0.2s ease;
}

.textarea::placeholder {
  color: var(--color-text-caption);
}

.textarea:focus {
  border-color: var(--color-primary);
  box-shadow: var(--shadow-focus);
}

.textareaError {
  border-color: var(--color-border-error);
  box-shadow: var(--shadow-error);
}

.textareaError:focus {
  border-color: var(--color-border-error);
  box-shadow: var(--shadow-error);
}

.counter {
  align-self: flex-start;
  color: var(--color-text-counter);
  font-family: var(--font-family-text);
  font-size: var(--fs-label-sm);
  letter-spacing: var(--ls-caption);
  line-height: var(--lh-label-sm);
}

.counterError {
  color: var(--color-error);
}
