.form {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 16px;
}

.title {
  transform: translateY(4px);
}

.titleContainer {
  padding-bottom: 12px;
  border-bottom: 1px solid var(--color-border);
}

.fieldsContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.fieldRow {
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr 1fr;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.label {
  color: var(--color-text-label);
  font-family: var(--font-family-text);
  font-size: var(--fs-label-sm);
  font-weight: var(--fw-medium);
  letter-spacing: var(--ls-label);
  line-height: var(--lh-label-sm);
}

.input,
.textarea {
  padding: 8px 12px;
  border: 1px solid var(--color-border-input);
  border-radius: var(--br-sm);
  box-shadow: var(--shadow-md);
  color: var(--color-text-primary);
  font-family: var(--font-family-text);
  font-size: var(--fs-label-md);
  font-weight: var(--fw-regular);
  letter-spacing: var(--ls-label);
  line-height: var(--lh-label-md);
  outline: none;
  transition: all 0.2s ease;
}

.input::placeholder,
.textarea::placeholder {
  color: var(--color-text-caption);
}

.textarea {
  min-height: 236px;
  padding: 12px 14px;
  font-family: var(--font-family-text);
  resize: none;
}

.input:focus,
.textarea:focus {
  border-color: var(--color-primary);
  box-shadow: 0 0 0 3px rgb(8 116 67 / 10%);
}

.counter {
  align-self: flex-start;
  color: var(--color-text-counter);
  font-family: var(--font-family-text);
  font-size: var(--fs-label-sm);
  letter-spacing: var(--ls-caption);
  line-height: var(--lh-label-sm);
}
