.card {
  display: flex;
  width: 552px;
  height: 240px;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px;
  border-radius: var(--br-md);
  background-color: #f2f4f7;
  gap: 8px;
}

.textContainer {
  position: relative;
  display: flex;
  overflow: hidden;
  flex: 1;
  flex-direction: column;
}

.text {
  overflow: hidden;
  margin: 0;
  color: var(--color-text-caption);
  font-family: var(--font-family-text);
  font-size: var(--fs-caption);
  font-weight: var(--fw-regular);
  line-height: var(--lh-caption);
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

.fadeOverlay {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background: linear-gradient(
    180deg,
    rgb(242 244 247 / 0%) 0%,
    rgb(242 244 247 / 100%) 100%
  );
  pointer-events: none;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 16px;
  gap: 8px;
}
