.goalBanner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 54px 0;
  border-radius: var(--br-md);
  margin-top: 48px;
  background-color: var(--color-bg-primary);
  gap: 32px;
}

.content {
  display: flex;
  max-width: 480px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  text-align: center;
}

.title {
  transform: translateY(3px);
}
