.goalBanner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 54px var(--spacing-md);
  border-radius: var(--br-md);
  margin-top: var(--spacing-xl);
  background-color: var(--color-bg-primary);
  gap: var(--spacing-lg);
}

.content {
  display: flex;
  max-width: 480px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-sm);
  text-align: center;
}

.title {
  transform: translateY(3px);
}

@media (width <= 639px) {
  .goalBanner {
    padding: var(--spacing-lg) var(--spacing-sm);
    margin-top: var(--spacing-lg);
    gap: var(--spacing-md);
  }
}
