.header {
  display: flex;
  align-items: center;
  gap: var(--spacing-md);
}

.logo {
  display: flex;
  flex: 1;
  align-items: center;
  cursor: pointer;
  transition: opacity 0.2s ease;
}

.logo:hover {
  opacity: 0.8;
}

@media (width <= 639px) {
  .header {
    display: grid;
    gap: var(--spacing-sm);
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto;
  }

  .logo {
    flex: unset;
  }

  .header > :nth-child(2) {
    order: 1;
    grid-column: 1 / -1;
    justify-self: center;
  }
}
