.stepperContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.stepperItems {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.step {
  display: flex;
  width: 32px;
  height: 8px;
  align-items: center;
  justify-content: center;
  border-radius: var(--br-sm);
  background-color: var(--color-bg-stepper);
  opacity: 0.24;
}

.step.active {
  opacity: 1;
}
