.viewer {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px;
  border-radius: var(--br-md);
  background-color: var(--color-bg-secondary);
  gap: 8px;
}

.textContainer {
  flex: 1;
  overflow-y: auto;
}

.text {
  margin: 0;
  color: var(--color-text-caption);
  font-family: var(--font-family-text);
  font-size: var(--fs-caption);
  font-weight: var(--fw-regular);
  line-height: var(--lh-caption);
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

.placeholder {
  color: var(--color-text-caption);
  font-family: var(--font-family-text);
  font-size: var(--fs-caption);
  font-weight: var(--fw-regular);
  line-height: var(--lh-caption);
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
}
