.form {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: var(--spacing-sm);
}

.title {
  transform: translateY(4px);
}

.titleContainer {
  padding-bottom: 12px;
  border-bottom: 1px solid var(--color-border);
}

.fieldsContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
}

.fieldRow {
  display: grid;
  gap: var(--spacing-sm);
  grid-template-columns: 1fr 1fr;
}

@media (width <= 639px) {
  .fieldRow {
    grid-template-columns: 1fr;
  }
}
