*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background-color: var(--color-text-white);
  color: var(--color-text-primary);
  font-family: var(--font-family-text);
  font-size: var(--fs-label-md);
  font-weight: var(--fw-regular);
  line-height: var(--lh-label-md);
}

/* Typography Resets */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: var(--font-family-display);
  font-weight: var(--fw-semibold);
}

p {
  margin: 0;
}

/* Input Reset */
input,
textarea,
select {
  font-family: var(--font-family-text);
}
