*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background-color: var(--color-white);
  color: var(--color-gray-900);
  font-family: var(--font-family-text);
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-body);
}

/* Typography Resets */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: var(--font-family-display);
  font-weight: var(--fw-semibold);
}

p {
  margin: 0;
}

/* Input Reset */
input,
textarea,
select {
  font-family: var(--font-family-text);
}
